{% extends "base.html.twig" %}

{% block title %}Réservation n°{{booking.id}}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réservation n°{{booking.id}}</h1>
        <div class="row">
            <div class="col">
                <div class="bg-light p-3">
                    <h2>Détails</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{booking.id}}</dd>
                        <dt class="col-md-4">Date d'arrivée</dt>
                        <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Date de départ</dt>
                        <dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Nombre de nuits</dt>
                        <dd class="col-md-8">{{booking.duration}}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{booking.amount}}</dd>
                        <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{booking.comment | raw | nl2br}}</dd>
                    </dl>
                    <hr>
                    <h2>Votre hôte</h2>
                    <div class="row mb-3">
                        <div class="col-3">
                            {% if booking.ad.author.picture %}
                                <img src="/upload/{{booking.ad.author.picture}}" alt="avatar de {{booking.ad.author.fullName}}" class="avatar avatar-medium">
                            {% else %}
                                <img src="https://i.pinimg.com/564x/9a/00/5b/9a005b834414f121dcd940f5216a6546.jpg" alt="Avatar de {{booking.ad.author.fullName}}" class="avatar avatar-medium">
                            {% endif %}
                        </div>
                        <div class="col-9 mb-3">
                            <h4>
                                <a href="{{path('user_show',{'slug': booking.ad.author.slug})}}">{{booking.ad.author.fullName}}</a>
                            </h4>
                            <span class="badge bg-primary">{{booking.ad.author.ads | length}} annonce(s)</span>
                        </div>
                        {{booking.ad.author.description | raw | nl2br}}
                        <a href="{{path('user_show',{'slug': booking.ad.author.slug})}}" class="btn btn-primary">plus d'info sur {{booking.ad.author.fullName}}</a>
                    </div>
                </div>

                <div class="bg-light p-3" id="comment">
                    <h2>Votre avis compte!</h2>
                    {% if date() > date(booking.endDate) %}
                        {% set comment = booking.ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <blockquote>
                                {{comment.content | nl2br | raw}}
                            </blockquote>
                            <strong>Note: </strong>{% include "partials/_rating.html.twig" with {'rating': comment.rating} %}
                            {% else %}
                                {# formulaire #}
                        {% endif %}
                    {% else %}
                        <p>Vous ne pourrez pas noter cette annonce tant que votre voyage ne sera pas complet</p>    
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="bg-light p-3">
                    <h2>Votre hébergement</h2>
                    <h4>
                        <a href="{{path('ads_show', {'slug': booking.ad.slug})}}">{{booking.ad.title}}</a>
                    </h4>
                    <img src="{{booking.ad.coverImage}}" alt="image de {{booking.ad.title}}" class="img-fluid">
                    {{booking.ad.content | raw | nl2br}}
                    <a href="{{path('ads_show', {'slug': booking.ad.slug})}}" class="btn btn-primary">Plus d'informations</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}