{% extends 'base.html.twig' %}

{% block title %}Annonce - {{ ad.title }}{% endblock %}

{% block body %}
    {# dump(ad) #}
    <div class="annonce-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2"><strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}</strong>€ par nuit</p>
            <a href="#" class="btn btn-primary">Réserver</a>
            {# gestion de l'annonce #}
             {% if (app.user and app.user == ad.author) or is_granted("ROLE_ADMIN") %}
                 <a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-warning m-2">Modification de l'annonce</a>
                 <a href="{{path('ads_delete',{'slug':ad.slug})}}" class="btn btn-danger m-2">supprimer de l'annonce</a>
             {% endif %}
        </div>
    </div>

    <div class="container full">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.content | raw }}
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            {% for image in ad.images %}
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{loop.index}}"></button>
                            {% endfor %}

                        </div>
                        <div class="carousel-inner">
                            {% for image in ad.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{image.url}}" class="d-block w-100" alt="image de {{ad.title}}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ad.title}}</h5>
                                        <p>{{image.caption}}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                {% set a = ad.author %}
                <div class="row">
                   <div class="col-3">
                    <a href="{{path('user_show', {'slug': a.slug})}}">
                        {% if a.picture %}
                            <img src="/uploads/{{a.picture}}" alt="Avatar de {{a.fullName}}" class="avatar avatar-medium">
                        {% else %}
                            <img src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D" alt="Avatar par défaut" class="avatar avatar-medium">
                        {% endif %}
                    </a>
                   </div>
                   <div class="col">
                      <a href="{{path('user_show', {'slug': a.slug})}}">
                        <h3>{{a.fullName}}</h3>
                      </a>
                      <button type="button" class="btn btn-primary">
                        Annonce(s) <span class="badge badge-secondary">{{a.ads | length }}</span>
                      </button>
                   </div>
                   <div class="col-12 my-3">
                    {{ a.description | raw | nl2br }}
                   </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
